<!DOCTYPE html>
<html>

<head>
	<title>Flask app</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>

<body>
	<header>
		<div class="container">
			<h1 class="logo">Wojtek's web app</h1>
			<strong>
				<nav>
					<ul class="menu">
						<li><a href="{{ url_for('home') }}">Home</a></li>
						<li><a href="{{ url_for('about') }}">About</a></li>
						<!-- in quotes are names of route functions -->
					</ul>
				</nav>
			</strong>
		</div>
	</header>
	<div class="container">
		{%block content%}
		{%endblock%}
	</div>
</body>

</html>